/.vscode/
/.git/
galery-slider/script.js
galery-slider/slider.html
galery-slider/styles.css
art_gallery/img/art_gallery-img-hq/1grain.png
art_gallery/img/art_gallery-img-hq/1untitled.jpg
art_gallery/img/art_gallery-img-hq/4-2.png
art_gallery/img/art_gallery-img-hq/5.png
art_gallery/img/art_gallery-img-hq/1984og.png
art_gallery/img/art_gallery-img-hq/a1.png
art_gallery/img/art_gallery-img-hq/asss.png
art_gallery/img/art_gallery-img-hq/big.jpg
art_gallery/img/art_gallery-img-hq/bruh.jpg
art_gallery/img/art_gallery-img-hq/cafeteirafinal.png
art_gallery/img/art_gallery-img-hq/final.png
art_gallery/img/art_gallery-img-hq/grain.jpg
art_gallery/img/art_gallery-img-hq/grain1.png
art_gallery/img/art_gallery-img-hq/grain2.png
art_gallery/img/art_gallery-img-hq/lulll.jpg
art_gallery/img/art_gallery-img-hq/men.jpg
art_gallery/img/art_gallery-img-hq/negagr.jpg
art_gallery/img/art_gallery-img-hq/ohnograin.png
art_gallery/img/art_gallery-img-hq/pool1.jpg
art_gallery/img/art_gallery-img-hq/pool2.jpg
art_gallery/img/art_gallery-img-hq/raw.png
art_gallery/img/art_gallery-img-hq/sofa.png
art_gallery/img/art_gallery-img-hq/somethinf.png
art_gallery/img/art_gallery-img-hq/ver1shit.jpg
art_gallery/img/art_gallery-img-hq/why.png
art_gallery/img/art_gallery-img-hq/yep.png
art_gallery/img/art_gallery-img-hq/yep2.png
art_gallery/img/art_gallery-img-hq/yep3.png
art_gallery/img/art_gallery-img-hq/yep4.png
